.contentWrapper{
    padding-top: 100px;
    padding-bottom: 50px;
}

.heading-info{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.heading-info h2{
    text-transform: uppercase;
    padding: 20px 0px 20px 0px;
}

#main-content{
    display: flex;
    padding: 30px 0px 30px 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#main-content h3{
    font-weight: 500;
    font-size: 20px;
    padding: 0px 0px 0px 60px;
}

#main-content  p{
    font-size: 18px;
    padding: 10px 0px 10px 0px;
}

.sub-content{
    display: flex;
    padding: 16px 0px 16px 0px;
}
.sub-content i{
    padding: 17px 15px 0px 10px;
}


@media(max-width:992px){
    .sub-content{
        font-size: 7px;
    }
}

@media(max-width:768px){
    #main-content{
        display: grid !important;
    }
}


/**/


