.mobile-nav-items{
    display:grid;
    margin-top: 80px;
}

.mobile-logo{
    width: 50px;
    display: flex;
    gap: 10px;
    margin-top:20px;
}

.mobile-logo h4{
    color: white;
    font-size: 15px;
}

.mobile-logo img{
    width: 100%;
}

.mobile-nav-items a{
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}


.mobile-nav-button{
    margin-top: 20px;
}
.mobile-nav-button button{
    padding: 6px 12px 6px 15px;
    background-color: rgb(99, 73, 26);
    text-transform: uppercase;
    border: 1px solid white;
    font-size: 14px;
    border-radius: 2px;
    color: white;
}

.others-content{
    margin-top: 30px;
}

.others-content select{
    font-size: 12px;
    border: 1px solid orange;
}